

<h1>Listing interviews</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Company</th>
    </tr>
  </thead>

  <tbody>
    <% @interviews.each do |interview| %>
      <tr>
        <td><%= interview.question.body %></td>
        <td><%= interview.company.name %></td>
        <td><%#= link_to 'Show', company_path(@company) %></td>
        <td><%#= link_to 'Edit', edit_company_interview_path(interview) %></td>
        <td><%#= link_to 'Destroy', company_interview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>

<%= link_to 'New Question', new_question_path %>
